[Desktop Entry]
Encoding=UTF-8
Name=OctoCoin
Comment=OctoCoin P2P Cryptocurrency
Comment[fr]=OctoCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OctoCoin, eşten eşe kriptografik sanal para birimi
Exec=octocoin-qt %u
Terminal=false
Type=Application
Icon=octocoin128
MimeType=x-scheme-handler/octocoin;
Categories=Office;Finance;
